.ChangePassword {
  background-color: #1dc690cb;
  opacity: 0.9;
  height: 100%;
}

.ChangePassword h1 {
    color: #ffff7a;
    margin-top: 4rem;
    margin-bottom: 0.5em;
    font-size: 3rem;
  }

.ChangePassword #currentPass {
  display: block;
}

.ChangePassword #newPass {
  display: none;
}

@media screen and (max-width: 768px) {
    .ChangePassword h1 {
      font-size: 1.4rem;
      margin-top: 7rem;
    }
  }