.Login {
  background-color: #1dc690cb;
  opacity: 0.9;
  height: 100%;
}

h4 {
  color: #f8ea8c;
  display: inline-block;
  padding-top: 1em;
  padding-right: 0.5em;
  position: unset;
}

#backToLib {
  margin-top: 1em;
  margin-left: 0;
}

.Login h1 {
  color: #ffff7a;
  margin-top: 3.5em;
  margin-bottom: 1em;
}

.Login .show-element {
  display: none;
}
/* #heading {
  /* position: relative; 
  /* margin-top: 4em; */
/* margin-bottom: 1em; 
} */
@media screen and (max-width: 768px) {
  .Login .hide-element {
    display: none;
  }

  .Login h1 {
    font-size: 1.4rem;
    margin-top: 6em;
  }
  .Login .show-element {
    display: block;
  }

  .Login #signup {
    margin-top: 1em;
    margin-left: 0;
  }
}
