.TopPlaylistsChart {
  height: inherit;
  background-color: rgba(29, 63, 214, 0.507);
  opacity: 0.9;
  width: 100vw;
}

.TopPlaylistsChart h1 {
  color: rgb(56, 219, 105);
  margin-top: 3rem;
}

/* .TopPlaylistsChart #chart {
  width: "20rem";
  height: "20rem";
  display: "none";
} */
